body{
  width: 100%;
}
.banner-section{
  display: flex;
  flex-direction: row;
}
.banner-section img{
width: 60%;
margin: 3% 3% 3% 3%;
}
.banner-text{
  float: right;
  font-weight: bold;
  width: 34%;
  font-size: 18px;
   margin-top: 3%;
}

#under-line{ /*line under h1 text in  banner text*/
  border-top: 1px solid black;
  width: 95%;
}
.banner-text h1{
font-size: 25px;
margin-bottom: 5px;
}
#lower-text{
  margin-left: 3%;
  font-weight: normal;
  font-size: 25px;
}
#lower-text > h1{
  font-size: 40px;
  font-weight: normal;
}
#techy{
  background-color: #3c3e45;
  padding-top: 10px;
  width: 150px;
  height: 35px;
  font-weight: bolder;
text-align: center;
font-size: 18px;
color: white;
margin-bottom: 0;
margin-left: 3%;
}
.last-section{
  display: none;
}
/* Tablet */

   @media (max-width: 768px) {
     .banner-section img{
       width: 90%;
        margin: auto;
       }

       .banner-text{
         display: none;
       }
   .lower-text{
     width: 90%;
     justify-content: center;
     text-align: center;
   }
}

/* end of tablet  */

  @media (max-width: 576px) {
  .banner-section img{
    width: 90%;
     margin: auto;
    }

    .banner-text{
      display: none;
    }
.lower-text{
  width: 90%;
  justify-content: center;
  text-align: center;
}

.last-section{
  display: flex;
  justify-content: space-around;
  text-align: center;
  background-color: #3c3e45;
  margin-top: 5% ;
  padding: 10px 10px 10px 10px;
  color: white;
  width: 100%;
}
  }
